@using practice_dotnet.Models.DTO.Auth
@model ForgotPasswordDto

<h2>Forgot Password</h2>
<form method="post" asp-action="/forgot-password">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Reset Link</button>
</form>
