@using practice_dotnet.Models
@model LoginDto

<h2>Login</h2>

<form method="post" action="/Auth/Login">
    <label>Email</label>
    <input type="email" name="Email" required />

    <label>Password</label>
    <input type="password" name="Password" required />

    <button type="submit">Login</button>
</form>
